---
# Grafana DataSource for COO Prometheus
# Direct connection to COO-managed Prometheus instance
apiVersion: grafana.integreatly.org/v1beta1
kind: GrafanaDatasource
metadata:
  name: prometheus-coo
  namespace: eip-monitoring
  labels:
    app: eip-monitor
    monitoring: coo
    coo: eip-monitoring
spec:
  name: Prometheus-COO
  datasource:
    name: Prometheus-COO
    type: prometheus
    isDefault: true
    access: proxy
    # Use Prometheus service directly (ThanosQuerier not discovering stores yet)
    # For multiple replicas, queries will be load-balanced across Prometheus instances
    # TODO: Switch to ThanosQuerier once it's discovering Prometheus stores
    url: http://eip-monitoring-stack-prometheus.eip-monitoring.svc.cluster.local:9090
    jsonData:
      httpMethod: POST
      queryTimeout: 300s
      timeInterval: 15s
      tlsSkipVerify: true
    uid: prometheus-coo-eip-monitoring
  instanceSelector:
    matchLabels:
      app: eip-monitor

